$header-height: 4rem;

.header-container {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  @extend .noselect;
  border-bottom: 3px solid lightgrey;
}

.header-left {
  padding-left: .2rem;
  padding-right: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  div {
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.header-icon-container {
  padding-left: .2rem;
  padding-right: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .active-icon;
}

.header-hamburger-menu-container {
  @extend .header-icon-container;
}

.header-title-container {
  padding: .2rem;
  &:hover {
    border: 1px solid red;
  }
  &:active {
    border: 1px solid orange;
  }
}

.logoImage {
  height: $header-height;
}

.header-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

.header-button {
  //background: transparent;
  //height: 100%;
  //border: none;
  //width: 8rem;
}

.view-select-button-container {
  // border: 1px solid red;
  @extend .header-icon-container;
}
