.expandable-dropdown-title-container {
  @extend .noselect;
  &:hover {
    background: darken($global-light, 5%);
  }
  &:active {
    background: $global-light;
  }
}

.expandable-dropdown-title-container-sidebar {
  @extend .noselect;
  color: #ffffff;
}
