.drawer-container {
  padding: 0;
}

.drawer-left-container {
  @extend .drawer-container;
}

.drawer-right-container {
  @extend .drawer-container;
  padding: 1.75rem 3.25rem 1.75rem 1.75rem;
  z-index: 102; // 100: map overlay, 101: view dropdown
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  background-color: #212121;
}

.each-drawer-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  cursor: default;
  color: $global-dark;
  font-size: 1.1rem;
  &:hover {
    color: lighten($global-dark, 25%);
  }
  &:active {
    color: red;
  }
}

.each-drawer-title-container {
  padding-left: .5rem;
  padding-right: .5rem;
}

.each-channel-container {
  @extend .each-drawer-entry;
}

.each-sharing-network-container {
  @extend .each-drawer-entry;
}

.each-drawer-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: .5rem;
  padding-right: .5rem;
}


.each-right-entry-container {
  @extend .each-drawer-entry;
  @extend .noselect;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #999999;
}

.drawer-right-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.25rem;
}

.drawer-right-mobile {
  @include media('>=tablet') {
    display: none;
  }
}