.grid-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: $global-edge-padding;
}

.grid-item {
  // border: 2px solid darkgrey;
  // border-radius: .5rem;
}

.each-grid-item-background-container {
  border: 2px solid lightgrey;
  height: 100%;
  display: flex;
  border-radius: .5rem;
}
