
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-size: 19px;
  background-color: white;
  font-family: sans-serif;
}


$global-blue: #1890FF;
$global-red: #FF0000;

// Imported Utilities
@import '~antd/dist/antd.css';
@import '../../../node_modules/include-media/dist/_include-media';



$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: red;
  }
  &:active {
    color: green;
  }
}

h1, h2, h3, h4 {
  padding: .2rem;
  margin: .2rem;
  @include media ('<tablet') {
    text-align: center;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

.global-icon-classname {
  border: 1px solid red;
  &:hover {
    border: 1px solid blue;
  }
  &:active {
    border: 1px solid green;
  }
}

.drawer-container {
  // background-color: red;
  padding: .5rem;

}

.root-children {
  max-width: 1024px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  text-align: left;
  background: rgba(255,255,255,0.1);
}
.btn:hover {
  color: red;
}
.btn:focus {
  outline: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

///////////////////////////////////////////////////
// Imports
@import '../containers/Header/header';
@import '../containers/Drawer/index';
